.about-intro {
  padding-bottom: 60px;

  @include mq-min(1024px) {
    display: flex;
  }
}

.about-intro__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 300;
  line-height: 1.05;
  letter-spacing: 0;
  text-transform: none;
  // transform: translateX(-50px);
  // transition: $duration * 3;
  // opacity: 0;

  // .about-intro--active & {
  //   transform: translateX(0);
  //   opacity: 1;
  // }

  @include mq-min(768px) {
    font-size: 55px;
  }

  @include mq-min(1024px) {
    width: 50%;
    margin-bottom: 0;
    margin-right: 30px;
    font-size: 60px;
  }

  @include mq-max(1023px) {
    & br {
      display: none;
    }
  }
}

.about-intro__text {
  font-size: 16px;
  line-height: 1.5;
  // transform: translateX(50px);
  // transition: $duration * 3 $duration;
  // opacity: 0;

  // .about-intro--active & {
  //   transform: translateX(0);
  //   opacity: 1;
  // }

  & > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  @include mq-min(1024px) {
    width: 50%;
  }

  @include mq-min(1280px) {
    font-size: vh(16);
  }
}
