.about {

}

.about__intro {
}

.about__incut {
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: hidden;
}

.about__fullwidth-picture {
  @include make-fit-object(16, 8);

  @include mq-min(768px) {
    @include make-fit-object(16, 3);
  }
}
