.all-apartments-section {

}

.all-apartments-section__header {
  margin-bottom: 48px;
}

.all-apartments-section__body {

}

.all-apartments-section__footer {

}

.all-apartments-section__actions {
  margin-top: 72px;
  text-align: center;
}
