.authors-reviews-slider {
  .slick-track {
    display: flex;
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    font-size: 0;
    border: none;
    background-color: transparent;
    padding: 0;
    transform: translateY(-50%);
    outline: none;
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      width: 28px;
      height: 28px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  .slick-prev {
    right: calc(100% + 15px);

    &::before {
      background-image: url("images/left-arrow.svg");
    }
  }

  .slick-next {
    left: calc(100% + 15px);

    &::before {
      background-image: url("images/right-arrow.svg");
    }
  }
}

.authors-reviews-slider__item {
  margin-left: 10px;
  margin-right: 10px;
  transform: scale(0.6);
  transition: $duration * 4;

  &.slick-current {
    transform: scale(1);
  }
}

.authors-reviews-slider__item-inner {
  width: 48px;
  margin-left: auto;
  margin-right: auto;

  @include mq-min(768px) {
    width: 64px;
  }

  @include mq-min(1280px) {
    width: vh(64);
  }
}

.authors-reviews-slider__photo {
  @include make-fit-object();

  border-radius: 50%;
}
