.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 192px;
  padding: calc(14px - 1px) calc(36px - 1px);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  font-family: $primary-font;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $base-color;
  background-color: transparent;
  border: 1px solid #9cabb9;
  box-sizing: border-box;
  border-radius: 100px;
  -webkit-appearance: none;
  -webkit-border-radius: 100px;
  outline: none;
  user-select: none;
  transition: 0.3s;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: $base-color;
    border-color: $base-color;
  }

  &:active {
    color: #ffffff;
    background-color: $base-color;
    border-color: $base-color;
    opacity: 0.8;
  }

  &--fluid {
    width: 100%;
  }

  &--small {
    min-width: 180px;
    padding-left: calc(30px - 4px);
    padding-right: calc(30px - 4px);
    font-weight: 700;
    font-size: 11px;
  }

  &[disabled] {
    cursor: not-allowed;
    filter: grayscale(1);

    &:hover,
    &:focus,
    &:active {
      color: #ffffff;
      background-color: $accent-color;
    }
  }

  @include mq-min(1024px) {
    &--arrow {
      position: relative;
      padding-left: 40px;
      padding-right: 40px;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        width: 68px;
        height: 24px;
        transform: translate3d(50%, -50%, 0);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 71 23.6'%3E%3Cpath fill='none' stroke='%23ffb400' stroke-linecap='round' stroke-linejoin='round' d='M.5 11.8h70M59.2 23.1l11.3-11.3L59.2.5'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: 0.4s cubic-bezier(0, 0.79, 0.54, 1.4);
        pointer-events: none;
      }

      &:hover,
      &:focus {
        &::after {
          transition-delay: 0.15s;
          transform: translate3d(calc(50% + 8px), -50%, 0);
        }
      }

      &:active {
        &::after {
          transform: translate3d(calc(50% + 12px), -50%, 0);
        }
      }
    }
  }
}

.button__icon {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  fill: currentColor;

  &--left {
    margin-right: 6px;
  }

  &--right {
    margin-left: 6px;
  }
}
