.common-significance {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.common-significance__header {
  margin-bottom: 40px;
}

.common-significance__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 42px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
  text-transform: none;

  @include mq-min(768px) {
    font-size: 55px;
    font-weight: 300;
  }

  @include mq-min(1024px) {
    font-size: 60px;
  }
}

.common-significance__text {
  @include clear-mr-edges-elem();

  font-size: 16px;
  line-height: 1.6;

  @include mq-min(1280px) {
    font-size: vh(16);
  }
}
