.fasad {
  position: relative;
  padding-bottom: 40px;

  @include mq-min(1024px) {
    padding-bottom: 0;
  }
}

.fasad__picture {
  margin-top: -40px;
  margin-bottom: 15px;

  @include mq-min(1024px) {
    margin-top: -60px;
    margin-bottom: 0;
  }
}

.fasad__content {
  display: flex;
  flex-direction: column;
  line-height: 1.15;

  @include mq-max(1023px) {
    align-items: center;
    text-align: center;
  }

  @include mq-min(1024px) {
    position: absolute;
    align-items: flex-start;
    top: 135px;
    padding-left: 30px;
  }

  @include mq-min(1280px) {
    top: vh(175);
  }
}

.fasad__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 45px;
  text-transform: none;
  color: $accent-color;
  letter-spacing: 0;

  @include mq-min(768px) {
    max-width: 700px;
    font-size: 60px;
  }

  @include mq-min(1280px) {
    max-width: vh(700);
    font-size: vh(60);
  }
}

.fasad__subtitle {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;

  @include mq-min(1024px) {
    max-width: 600px;
    font-size: 28px;
  }

  @include mq-min(1280px) {
    max-width: vh(600);
    font-size: vh(28);
  }
}

.fasad__button {
  @media (pointer: coarse) {
    padding-top: 13px;
    padding-bottom: 13px;
  }
}
