.feature-popup {
  max-width: 650px;
  padding: 0;

  @include mq-min-allow-vh($vh-height-bp) {
    @include mq-min(1280px) {
      max-width: vh(860);
    }

    @include mq-min(1440px) {
      max-width: vh(800);
    }
  }
}

.feature-popup__inner {
  @include mq-min(568px) {
    display: flex;
  }
}

.feature-popup__slider {
  width: 100%;

  @include mq-min(568px) {
    width: 50%;
  }
}

.feature-popup__content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 40px;

  @include mq-min(568px) {
    width: 50%;
  }
}

.feature-popup__header {
  margin-bottom: 28px;
}

.feature-popup__title {
  margin: 0;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.15;
  letter-spacing: 0;
  text-transform: none;
  text-align: left;
}

.feature-popup__text {
  @include clear-mr-edges-elem();

  flex-grow: 1;
  height: 240px;
  padding-right: 16px;
  font-size: 18px;
  line-height: 1.5;
  overflow: auto;
  color: $muted-color;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 4px;
    box-shadow: inset 0 0 4px rgba(#000000, 0.2);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: $accent-color;
  }
}
