.field {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 28px;
}

.field__label {
  position: absolute;
  left: 8px;
  transform-origin: left;
  transform: translateY(20px);
  font-weight: 500;
  font-size: 14px;
  color: #9cabb9;
  transition: 0.3s;
  pointer-events: none;

  .field--required &::after {
    content: "*";
    font-size: rem(14);
    vertical-align: super;
    color: $danger-color;
  }

  .field--active & {
    transform: translateY(-8px) scale(0.857);
  }
}

.field__control {
  position: relative;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: 100%;
    transition: transform 0.4s 0.4s;
    background-color: #ffb400;
  }

   &:focus-within {
    &::before {
      transform: scaleX(1);
      transform-origin: 0;
      transition-delay: 0s;
    }
  }
}

.field__input {
}

.field__text {
  display: block;
  margin-top: 5px;
  font-size: rem(14);
  line-height: 1.25;
  color: $muted-color;

  .checkbox &,
  .radiobox & {
    margin-top: 0;
  }
}
