.filter-range-slider {
  height: 3px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: $gray-138;
  border: none;
  box-shadow: none;

  .noUi-connect {
    background-color: $accent-color;
  }

  .noUi-handle {
    top: -13px;
    right: -4px !important;
    width: 8px;
    height: 26px;
    border-radius: $border-radius;
    box-shadow: none;
    border: none;
    background-color: $accent-color;

    &::before,
    &::after {
      content: none;
    }
  }
}
