.header-logo-svg {

}

.header-logo-svg__sign {
  fill: #f14c85;
}

.header-logo-svg__primary-text {
  fill: #ffffff;
  transition: $duration;

  .is-main-header-sticky &,
  .is-out-cover-opened &,
  body:not(.homepage) &, {
    fill: #2b2a29;
  }
}

.header-logo-svg__secondary-text {
  fill: #ffffff;
  transition: $duration;

  .is-main-header-sticky &,
  .is-out-cover-opened &,
  body:not(.homepage) & {
    fill: #5b5b5b;
  }
}
