.hero {
  position: relative;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;

  @include mq-min-allow-vh($vh-height-bp) {
  }
}

.hero__inner {
  height: 100%;
}

.hero__picture {
  height: 100%;
  box-sizing: border-box;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(#000000, 0.25), rgba(#000000, 0) 60%);
  }
}

.hero__content {
  position: absolute;
  top: 36%;
  transform: translateY(-50%);

  @include mq-min(768px) {
    top: 44%;
  }
}

.hero__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 48px;
  line-height: 0.92;
  letter-spacing: -0.01em;
  text-transform: none;
  color: #ffffff;

  span {
    display: block;
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.15;
  }

  @include mq-min(768px) {
    margin-bottom: 48px;
    font-size: 76px;
  }
}

.hero__links-wrapper {
  margin: 0;
}

.hero__link {
  display: inline-flex;
  align-items: center;
  font-weight: 800;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.045em;
  color: #ffffff;
  transition: 0.25s;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.hero__link-icon {
  position: relative;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  margin-right: 16px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.25s;

  &::before {
    content: "";
    position: absolute;
    left: 11px;
    top: 10px;
    z-index: 2;
    width: 0;
    height: 0;
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
    border: 2px solid $base-color;
    border-top: none;
    border-left: none;
    transition: 0.25s;
    pointer-events: none;
  }

  &:hover,
  &:focus {
    background-color: $accent-color;

    &::before {
      border-color: #ffffff;
    }
  }
}

.hero__info-block {
  position: absolute;
  right: 20px;
  bottom: 12%;

  @include mq-min(768px) {
    right: 40px;
    bottom: 12%;
  }

  @include mq-min(1024px) {
    bottom: 16%;
  }
}
