.hero-info-slider {
  .flickity-prev-next-button {
    left: auto;
    right: 20px;
    z-index: 10;
    top: calc(100% + 8px);
    width: 36px;
    height: 36px;
    padding: 8px;
    transform: none;
    box-sizing: border-box;
  }

  .previous {
    right: calc(8px + 36px + 20px);
  }

  .next {
    right: 20px;
  }

  .flickity-button-icon {
    left: 50%;
    top: 50%;
    width: 44%;
    height: 44%;
    transform: translate(-50%, -50%);
  }

  @include mq-min(768px) {
    .flickity-prev-next-button {
      top: 100%;
    }
  }
}

.hero-info-slider__item {
  width: 100%;
  transform: translate3d(0, 0, 0);
  box-sizing: border-box;
  transition: opacity 0.2s !important;
  user-select: none;

  &:not(.is-selected) {
    opacity: 0 !important;
    pointer-events: none;
  }

  @include mq-min(768px) {
    padding: 16px;
    padding-bottom: 20px;
    padding-right: 20px;
  }
}
