.main-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 25;
  padding-top: 16px;
  padding-bottom: 16px;
  transition: 0.6s;

  body:not(.homepage) & {
    background-color: #ffffff;
  }

  .is-main-header-sticky & {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
    box-shadow: 0 0px 15px rgba(#000000, 0.25);
  }

  @include mq-max(1279px) {
    .is-out-cover-opened.is-main-header-sticky & {
      box-shadow: none;
    }
  }

  @include mq-min(1280px) {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

.main-header__inner {
  display: flex;
  align-items: center;
}

.main-header__logo {
  width: 120px;
  flex-shrink: 0;
  margin-right: 20px;
  transform-origin: 0;
  transition: 0.6s;

  a {
    display: block;
    position: relative;
    padding-left: 8px;
    padding-right: 8px;

    &::before {
      content: "";
      position: absolute;
      top: -20px;
      left: 0;
      right: 0;
      bottom: -20px;
      z-index: -1;
      transform-origin: top;
      background-color: #ffffff;
      transition: 0.6s 0.4s;
    }
  }

  img {
    display: block;
  }

  .is-main-header-sticky & {
    transform: scale3d(0.9, 0.9, 0.9);

    a {
      &::before {
        transform: scaleY(0);
        opacity: 0;
      }
    }
  }

  @include mq-min(667px) {
    width: 180px;

    a {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  @include mq-min(1280px) {
    a {
      &::before {
        top: -48px;
        bottom: -48px;
      }
    }
  }
}

.main-header__toggle {
  order: 1;
  margin-left: 20px;

  @include mq-min(667px) {
    margin-left: 32px;
  }

  @include mq-min(1280px) {
    display: none;
  }
}

.main-header__nav {
  margin-left: auto;
  transform-origin: 100%;
  transition: 0.6s;

  .is-main-header-sticky & {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  @include mq-max(1279px) {
    display: none;
  }
}

.main-header__contacts {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: auto;
  transform-origin: 100%;

  @include mq-min(1280px) {
    margin-left: 28px;
    transition: 0.6s;

    .is-main-header-sticky & {
      transform: scale3d(0.8, 0.8, 0.8);
    }
  }
}

.main-header__phone {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.15;
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;

  .is-out-cover-opened & {
    visibility: hidden;
    opacity: 0;
  }

  &:hover,
  &:focus {
    color: #ffb400;
  }

  .is-main-header-sticky &,
  body:not(.homepage) & {
    color: $base-color;

    &:hover,
    &:focus {
      color: #ffb400;
    }
  }

  @include mq-min(667px) {
    font-size: 18px;
  }
}

.main-header__callback-button {
  margin-left: 12px;
  padding: 8px;
  color: $base-color;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  transition: 0.3s;
  outline: none;
  cursor: pointer;

  .is-main-header-sticky &,
  body:not(.homepage) & {
    color: $base-color;
    background-color: rgba($gray-245, 1);
  }

  .is-out-cover-opened & {
    visibility: hidden;
    opacity: 0;
  }

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: $base-color;
  }

  &:active {
    opacity: 0.8;
  }

  svg {
    display: block;
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
}
