.main-nav {
  display: flex;
  align-items: center;
}

.main-nav__to-open-plan {
  margin-right: 16px;
  min-width: auto;
  padding: 8px 16px;
  font-size: 14px;
  background-color: #ffffff;
  border: none;
}

.main-nav__list {
  @include clear-list();

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  li {
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    position: relative;
    display: block;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    user-select: none;
    transition: 0.3s;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      transform: translate3d(0, 2px, 0);
      background-color: transparent;
      opacity: 0.6;
      transition: 0.3s;
    }

    &:hover,
    &:focus {
      &::before {
        transform: translate3d(0, 0, 0);
        background-color: #ffffff;
      }
    }

    .is-main-header-sticky &,
    body:not(.homepage) & {
      color: $base-color;

      &:hover,
      &:focus {
        &::before {
          background-color: $base-color;
        }
      }
    }
  }

  .current-menu-item a {
    &::before {
      transform: translate3d(0, 0, 0);
      background-color: #ffffff;
      opacity: 1;

      .is-main-header-sticky &,
      body:not(.homepage) & {
        background-color: $base-color;
      }
    }
  }
}
