.mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-nav__list {
  @include clear-list();

  width: 100%;
  margin-left: -20px;
  margin-right: -20px;

  a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: $base-color;
  }

  .current-menu-item a {
    color: #ffffff;
    color: #ffb400;
    // background-color: $accent-color;
  }
}
