.mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-nav__list {
  @include clear-list();

  width: 100%;
  margin-left: $gutter / -2;
  margin-right: $gutter / -2;

  a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: rem(24);
    text-transform: uppercase;
    text-align: center;
  }

  .current-menu-item a {
    color: #ffffff;
    background-color: $accent-color;
  }
}
