.panorama {
  image {
    pointer-events: none;
  }
}

.panorama__svg {
  display: block;
  width: 100%;
  min-height: 360px;
  height: 50vh;
}

.panorama__popup-pictures {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 35;
  padding-top: 60px;
  padding-bottom: 60px;
  pointer-events: none;
  transition: 0.5s;

  &--active {
    background-color: rgba(#000000, 0.7);
  }

  @include mq-min(1280px) {
    padding-top: vh(60);
    padding-bottom: vh(60);
  }
}

.panorama__popup-pictures-list {
  position: relative;
  height: 100%;
}

.panorama__popup-pictures-item {
  @include make-fit-object(16, 9);

  position: absolute;
  left: 15px;
  right: 15px;
  top: 50%;
  max-height: calc(100vh - 60px);
  margin: 0;
  transform: translateY(-50%) scale(0.96);
  opacity: 0;
  transition: 0.4s;

  &--active {
    transform: translateY(-50%) scale(1);
    opacity: 1;
    transition-delay: 0.1s;
  }
}

.panorama__popup-picture {
  width: 100%;
}

.panorama__popup-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 16px;
  padding-top: 64px;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: rgba(#ffffff, 0.9);
  background-image: linear-gradient(
    to top,
    rgba(#000000, 0.5),
    rgba(#000000, 0)
  );
}
