.quiz {
  display: none !important;
  background-color: #ffffff;

  .ios & {
    display: block !important;
  }
}

.quiz__header {
  margin-bottom: 45px;
  text-align: center;

  @include mq-min(1024px) {
    margin-bottom: vh(60);
  }
}
