.scroll-down-pointer {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background: url("images/icon-mouse.svg") no-repeat center;
  background-size: contain;
  cursor: pointer;
}
