.significance-4-features {
  display: flex;
  flex-wrap: wrap;
}

.significance-4-features__item {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1.25;
  flex-basis: 260px;
  align-items: stretch;

  @include mq-min(768px) {
    flex-basis: 190px;
  }
}

.significance-4-features__iconbox {
  // margin-right: 20px;

  @include mq-min(768px) {
    margin-bottom: 20px;
  }
}

.significance-4-features__icon {
  display: block;
  width: 96px;
  height: 96px;
  fill: $accent-color;

  @include mq-min(768px) {
    width: 68px;
    height: 68px;
  }
}

.significance-4-features__caption {
  display: block;
  max-width: 220px;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
}

.significance-4-features__description {
  margin: 0;
  font-size: 15px;

  @include mq-min(667px) {
    max-width: 220px;
  }
}
