.significance-1 {

}

.significance-1__title {
  transform: translateX(-50px);
  transition: $duration * 3;
  opacity: 0;

  .common-significance--active & {
    transform: translateX(0);
    opacity: 1;
  }

  @include mq-min(1024px) {
    width: 60%;
  }
}

.significance-1__body {
  @include mq-min(1024px) {
    display: flex;
  }
}

.significance-1__text {
  padding-bottom: 40px;
  transform: translateX(-50px);
  transition: $duration * 3;
  opacity: 0;

  .common-significance--active & {
    transform: translateX(0);
    opacity: 1;
  }

  @include mq-min(1024px) {
    width: 35%;
    flex-shrink: 0;
    padding-right: 50px;
    padding-bottom: 0;
  }
}

.significance-1__picture {
  @include make-fit-object(14, 9);

  position: relative;
  flex-grow: 1;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 101%;
    height: 100%;
    background-color: #ffffff;
    transition: transform $duration * 5 $duration;
  }

  .common-significance--active & {
    &::after {
      transform: translate(-100%);
    }
  }

  @include mq-max(1023px) {
    margin-left: $gutter / -2;
    margin-right: $gutter / -2;
  }

  @include mq-min(1024px) {
    margin-top: 1.6rem;

  }
}
