.special-offer-box {
}

.special-offer-box__title {
  margin-bottom: 24px;
  font-size: 32px;
}

.special-offer-box__grid {
  display: flex;
  flex-direction: column-reverse;

  @include mq-min(768px) {
    flex-direction: row;
    align-items: center;
  }
}

.special-offer-box__grid-column {
}

.special-offer-box__picture-wrapper {
  flex-grow: 1;
  flex-shrink: 0;

  @include mq-min(768px) {
    margin-right: 48px;
  }
}

.special-offer-box__picture {
  @include make-fit-object(16, 10);
}

.special-offer-box__form-wrapper {
  margin-bottom: 40px;

  @include mq-min(768px) {
    margin-bottom: 0;
  }
}
