.welcome {
  position: relative;
}

.welcome__carousel {
}

.welcome__info-block {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: calc(50px + 150px); // отступ снизу от кнопки лидбэка + высота иконки лидбэка

  @include mq-min(1024px) {
    left: auto;
    width: 50%;
  }

  @include mq-min(1280px) {
    width: 40%;
  }
}

.welcome__copy-holder {
  position: relative;
}

.welcome__copy {
  position: absolute;
  left: 20px;
  bottom: 20px;
  z-index: 2;
  margin: 0;
  font-size: 12px;
  transform: rotateZ(-90deg);
  transform-origin: 0 0;
  color: #ffffff;
  opacity: 0.8;
  user-select: none;
  pointer-events: none;

  @include mq-min(768px) {
    font-size: 16px;
  }
}
